@import "tailwindcss";

@theme {
  --color-ton-blue: #0088CC;
  --color-dark-card: #1a1f2e;
  --color-dark-bg: #0f141f;
}

@layer base {
  body {
    background-color: #05070a;
    color: #f8fafc;
    font-family: ui-sans-serif, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-image: radial-gradient(circle at 50% 50%, #0a192f 0%, #05070a 100%);
    min-height: 100 vh;
  }
}


.neon-border {
  box-shadow: 0 0 15px rgba(0, 136, 204, 0.1);
  border: 1px solid rgba(0, 136, 204, 0.2);
}

.neon-border:hover {
  box-shadow: 0 0 20px rgba(0, 136, 204, 0.4);
  border: 1px solid rgba(0, 136, 204, 0.6);
}